.App {
  font-family: Arial, sans-serif;
  padding: 20px;
}

nav {
  background-color: #2b426f;
  padding: 10px 20px;
  border-radius: 5px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 3px;
  transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover,
nav ul li a.active {
  color: #9ecdf2;
}

.homePage {
  text-align: center;
}

h1 {
  color: #070e85
}

p {
 font-size: 20px;
 font-weight: bolder;
}

h2 {
  color: #2028c1
}

li {
  font-size: 20px;
  color:#2028c1;
  margin: 1rem 0;
}

.calculateRewardButton {
  margin: 0 .5rem 0;
  background-color: #83c11f; 
  color: #fff; 
  border: none; 
  border-radius: 5px; 
  padding: 10px 20px; 
  font-size: 16px; 
  font-weight: bold; 
  cursor: pointer; 
  transition: background-color 0.3s, box-shadow 0.3s;
}

.calculateRewardButton:hover {
  background-color: #699a19; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.calculateRewardButton:active {
  background-color: #699a19; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.calculateRewardButton:focus {
  outline: none; 
  box-shadow: 0 0 0 3px #699a19; 
}

.monthlyPoints {
font-weight: bolder;
}

.totalPoints {
  font-size: 25px;
  font-weight: bolder;
  color:#588510;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal-overlay.open {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  transform: translateY(-50px);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.modal-content.open {
  transform: translateY(0);
  opacity: 1;
}

.modal-content button {
  margin-top: 10px;
}

.points {
  font-size: 25px;
  font-weight: bolder;
  color:#588510;
}

.closeButton {
  background-color: #c12d1f; 
  color: #fff; 
  border: none; 
  border-radius: 5px; 
  padding: 10px 20px; 
  font-size: 16px; 
  font-weight: bold; 
  cursor: pointer; 
  transition: background-color 0.3s, box-shadow 0.3s;
}

.closeButton:hover {
  background-color: #c6493e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}